
__history/UnitPrincipal.dfm.~1~
__history/UnitPrincipal.dfm.~2~
__history/UnitPrincipal.dfm.~3~
__history/UnitPrincipal.dfm.~4~
__history/UnitPrincipal.pas.~1~
__history/UnitPrincipal.pas.~2~
__history/UnitPrincipal.pas.~3~
__history/UnitPrincipal.pas.~4~
_gsdata_/2026-0127-081543-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-082043-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-082410-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-082455-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-082531-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-082616-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-082652-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083058-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083143-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083231-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083316-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083601-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083655-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083831-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-083931-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0127-084007-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-081042-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-081200-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082242-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082330-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082609-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082657-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082733-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082806-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082842-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-082924-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-083006-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-083036-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0130-083121-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0202-081156-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0202-081250-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0202-082517-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0202-213805-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0203-080324-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/_file_state_v4._gs
_gsdata_/lock.gsl
_gsdata_/_insync_v4.gsl
_gsdata_/2026-0203-080739-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0203-080845-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-083949-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084052-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084134-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084216-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084316-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084422-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084504-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084746-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-084828-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-085001-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-085046-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-085204-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-085249-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0204-085331-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-080115-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-080239-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081109-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081209-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081251-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081624-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081709-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081821-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-081906-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-082039-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-082809-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-082854-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-083148-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-083248-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-083324-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-083639-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-083724-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-084151-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-084242-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-084318-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-084424-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0206-084509-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-080725-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-080852-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-081855-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-081931-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-082855-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-082937-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-083119-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-083204-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-083613-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-083655-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-084040-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-084146-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-084228-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/2026-0209-084304-FABIO-VM-Backup Projetos Google Drive.log
_gsdata_/_insync_v4.gsl
